@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans" sans-serif;
}

.container {
  max-width: 58% !important;
}

.elevation-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.navbar-banner-container {
  position: relative;
  background-image: url("../images/home/BootstrapsImages/HomePage/content-wrapper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.altairtech_group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/home/slider-paint.jpg");
  margin: 0;
  padding: 0;
}

.navbar {
  background: transparent;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 390;
  padding: 5px 10px;
  font-size: 1em;
  line-height: 37px;
  text-shadow: 0px -1px 0px #284c6e;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
}

/* Additional styles for nav items, banner, etc. */
.nav-item {
  float: left;
  display: block;
  position: relative;
  z-index: 2; /* Ensure nav items are above the overlay */
  margin: 0px;
  line-height: 46px;
  padding: 0px 5px 0px 5px;
}

.banner {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  z-index: 2; /* Ensure the banner content is above the overlay */
}

.banner h1 {
  margin: 0;
  font-size: 3rem;
}

.banner p {
  font-size: 1.25rem;
}

.banner .btn {
  margin-top: 20px;
}
.altairtech_content {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.altairtech_content.fade-out {
  opacity: 0;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.altairtech_group {
  transition: background-image 1s ease-in-out; /* Smooth background transition */
}

.circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #377bb0;
  transition: background-color 0.5s ease-in-out;
}

.highlighted {
  background-color: #45a8e3;
}

.footer__css {
  background-color: #1f1f1f;
}


.card {
  background: #fff; /* White background for the card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Elevation effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.card:hover {
  transform: translateY(1px); /* Slightly lift the card on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

